<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Reiniciar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="none" class="ion-margin">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="buttons" type="submit" color="medium" shape="round" strong="true" expand="block">Enviar</ion-button>
      </ion-col>
      <ion-text class="ion-text-center">
        <h6>
          Por favor utilice la el usuario o email con el que se registro en Cinemarg
        </h6>
      </ion-text>
    </ion-row>
  </form>
</ion-content>
