<!-- <div class="header-section">
  <ion-header slot="start" [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row size="12" class="ion-text-center ion-align-items-center">
          <ion-col size="3" class="ion-text-start" text-start>
          </ion-col>
          <ion-col size="6">
            <ion-title> PELICULAS </ion-title>
          </ion-col>
          <ion-col size="3" class="ion-text-end">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true">
  <ion-row class="list-row">
    <ion-col class="movie-label">
      <ion-card>
        <img src=""/>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
          Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content> -->

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input formControlName="title" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input formControlName="movieDesc" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Año</ion-label>
        <ion-input formControlName="yearReleased" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Genero</ion-label>
        <ion-input formControlName="genre" type="text" required>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Añadir pelicula
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
    <ion-list>
    <ion-list-header>
      PELICULAS
    </ion-list-header>
    <ion-item lines="inset" *ngFor="let data of Data">
      <ion-label>
        <h5>{{data.title}}</h5>
        <p>{{data.genre}}</p>
      </ion-label>
      <div class="item-note" item-end>
        <ion-icon name="create" style="zoom:2.0" [routerLink]="['/movies/', data.id]"></ion-icon>
        <ion-icon name="trash" style="zoom:2.0" (click)="deleteMovie(data.id)"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
