<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Song</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-list lines="full">
    <form [formGroup]="editForm" (ngSubmit)="saveForm()">
      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input formControlName="title" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input formControlName="movieDesc" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Año</ion-label>
        <ion-input formControlName="yearReleased" type="text" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Genero</ion-label>
        <ion-input formControlName="genre" type="text" required>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Actualizar
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
